#_preseed_V1

#
# Preseed configuration for debian 13/trixie
#
# ATTENTION: This preseed configuration ERASES the target disks
# without any confirmation whatsoever.
#

# Locale
d-i debian-installer/locale string en_US.UTF-8
d-i localechooser/supported-locales multiselect en_US.UTF-8, es_ES.UTF-8
d-i keyboard-configuration/xkb-keymap select us

# Network
d-i hw-detect/load_firmware boolean false
d-i netcfg/enable boolean true
d-i netcfg/choose_interface select auto
d-i netcfg/hostname string unassigned-preseed
d-i netcfg/get_hostname string unassigned-preseed
d-i netcfg/get_domain string lan


# Apt
d-i apt-setup/cdrom/set-first boolean false
d-i apt-setup/cdrom/set-next boolean false
d-i apt-setup/cdrom/set-failed boolean false
d-i mirror/country string auto
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string


# Users/passwords
d-i passwd/root-login boolean true
d-i passwd/make-user boolean true
d-i passwd/root-password password admin
d-i passwd/root-password-again password admin
d-i passwd/user-fullname string george
d-i passwd/username string george
d-i passwd/user-password password admin
d-i passwd/user-password-again password admin


# Clock
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Madrid
d-i clock-setup/ntp boolean true


# Disk partitioning

# Choose the target drive on an early_command
d-i partman/early_command string                                \
    BOOT_DEV=$(list-devices disk | head -1) ;                   \
    debconf-set partman-auto/disk $BOOT_DEV

d-i partman-auto/method string regular
# GOTCHA: the 'no_swap' setting needs to be false
d-i partman-basicfilesystems/no_swap boolean false
d-i partman-auto/choose_recipe select custom-no-swap
d-i partman-auto/expert_recipe string       \
        custom-no-swap ::                   \
        50 100 50 fat32                     \
            $primary{ }                     \
            method{ efi }                   \
            format{ }                       \
            .                               \
        1000 8000 -1 ext4                   \
            $primary{ }                     \
            method{ format }                \
            format{ }                       \
            use_filesystem{ }               \
            filesystem{ ext4 }              \
            mountpoint{ / }                 \
            .
d-i partman-partitioning/choose_label select gpt
d-i partman-partitioning/default_label string gpt
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-efi/non_efi_system boolean true
d-i partman/confirm_write_new_label boolean true
d-i partman/confirm boolean true
d-i partman/choose_partition select Finish partitioning and write changes to disk


# Packages
d-i base-installer/install-recommends boolean false
d-i base-installer/kernel/image string linux-image-amd64
d-i apt-setup/use_mirror boolean true
tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string sudo git wget
d-i pkgsel/upgrade select safe-upgrade
popularity-contest popularity-contest/participate boolean false


# Boot
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false
d-i grub-installer/force-efi-extra-removable boolean true
d-i grub-installer/progress/step_force_efi_removable boolean true
d-i grub-installer/bootdev string default
d-i grub-installer/timeout string 0


d-i preseed/late_command string \
    echo "george ALL=(ALL) NOPASSWD: ALL" >  /target/etc/sudoers.d/george ; \
    sed -i "s/unassigned-preseed/deb13/g" /target/etc/hostname ; \
    sed -i "s/unassigned-preseed/deb13/g" /target/etc/hosts ; \
    mkdir -p /target/root/.ssh ; \
    echo "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDw+P91531+P6SbdFR+KSlL8EckAK/ZlcKUT9gcmDMBP george@hypergraf.eu" >> /target/root/.ssh/authorized_keys ; \
    chmod 700 /target/root/.ssh ; \
    chmod 600 /target/root/.ssh/authorized_keys ; \
    echo 'LC_TIME="es_ES.UTF-8"' >> /target/etc/default/locale ; \
    echo 'LC_NUMERIC="es_ES.UTF-8"' >> /target/etc/default/locale ; \
    echo 'LC_MONETARY="es_ES.UTF-8"' >> /target/etc/default/locale ; \
    echo 'LC_PAPER="es_ES.UTF-8"' >> /target/etc/default/locale ; \
    echo 'LC_MEASUREMENT="es_ES.UTF-8"' >> /target/etc/default/locale

# Finish
d-i finish-install/reboot_in_progress note
